{% extends 'base.html' %}
{% block body %}
	{{ super() }}
	<p id="error" style="display:none"></p>
	<div id="index" style="display:none">
		<input class="code" type="text" placeholder="{{ gettext('Code') }}" />
		<input type="button" onclick="showGame()" value="{{ gettext('View game') }}" />
		<br />
		<input class="name" type="text" placeholder="{{ gettext('Username') }}" />
		<input type="button" onclick="createGame()" value="{{ gettext('Create game') }}" />
	</div>
	<div id="game" style="display:none">
		<h2 class="code"></h2>
		<p id="game-players"></p>
		<input id="game-start" type="button" onclick="startGame()" value="{{ gettext('Start game') }}" />
		<br />
		<input id="game-name" type="text" placeholder="{{ gettext('Username') }}" />
		<input id="game-join" type="button" onclick="joinGame()" value="{{ gettext('Join') }}" />
	</div>
	<script>
		function showError(text) {
			let elem = document.getElementById("error")
			elem.textContent = text
			elem.style["display"] = "block"
		}


		function getField(id, className) {
			return document
				.getElementById(id)
				.getElementsByClassName(className)[0]
		}


		function setVisible(id, visible) {
			document.getElementById(id).style["display"] = visible ? "block" : "none"
		}


		function requestGet(url, callback) {
			let req = new XMLHttpRequest()
			req.addEventListener("load", callback)
			req.open("get", url)
			req.send()
		}


		function requestPost(url, data, callback) {
			let req = new XMLHttpRequest()
			req.addEventListener("load", callback)
			req.open("post", url)
			req.send(new URLSearchParams(data))
		}


		function getGameCode() {
			let segments = window.location.pathname.split("/")
			return segments.pop() || segments.pop()
		}


		function showGame() {
			let elem = getField("index", "code")
			let code = elem.value.toLowerCase()
			if (code.length != 6) {
				showError("Code must be exactly 6 characters long");
				return
			}
			for (let i = 0; i < code.length; i++) {
				if (code[i] < 'a' || 'z' < code[i]) {
					showError("Code must consist only of the characters between A-Z")
					return
				}
			}
			request("get", "{{ url_for('api.get_game_info', code='__code') }}"
					.replace("__code", code), showRequestHandler(code))
		}


		function createGame() {
			let data = { name: getField("index", "name").value }
			requestPost("{{ url_for('api.create_game') }}", data, function(e) {
				let code = JSON.parse(e.target.response)["code"]
				history.pushState(null, "", "/" + code + "/")
				setVisible("index", false)
				setVisible("game", true)
			})
		}


		function showRequestHandler(code) {
			return function(e) {
				if (this.status > 0) {

				} else {
					showError("Failed to show game")
				}
			}
		}


		function startGame() {
			let url = "{{ url_for('api.start_game', code='__code') }}"
					.replace("__code", getGameCode())
			requestPost(url)
		}


		function joinGame() {
			let url = "{{ url_for('api.join_game', code='__code') }}"
					.replace("__code", getGameCode())
			let name = document.getElementById("game-name").value
			if (name.length === 0) {
				showError("Name field may not be empty")
				return
			}
			requestPost(url, {"name": name}, function(e) {
				openStream()
			})
		}


		function getGameInfo() {
			let code = getGameCode()
			let url = "{{ url_for('api.get_game_info', code='__code') }}".replace("__code", code)
			getField("game", "code").textContent = "{{ gettext('Code') }}: " + code
			requestGet(url, function(e) {
				parseGameInfo(JSON.parse(e.target.response))
			})
		}


		function parseGameInfo(info) {
			let activity = info["activity"]
			let players = info["players"] || []
			setVisible("game-players", false)
			setVisible("game-start", false)
			if (info["players"].indexOf(info["name"]) >= 0) {
				setVisible("game-name", false)
				setVisible("game-join", false)
			} else {
				setVisible("game-name", true)
				setVisible("game-join", true)
			}
			console.log(info)
			switch (activity) {
				case "waiting":
					document.getElementById("title").textContent = "Waiting for players"
					setVisible("game-players", true)
					setVisible("game-start", true)
					let text = ""
					for (let i = 0; i < players.length; i++) {
						text += players[i] + ", "
					}
					document.getElementById("game-players").textContent = text
					break
				case "wolves":
					document.getElementById("title").textContent = "The wolves awaken..."
					setVisible("game-players", true)
					getActivityInfoWolves(info["state"])
					break
				case "vote":
					document.getElementById("title").textContent = "The village votes..."
					setVisible("game-players", true)
					getActivityInfoVote(info["state"])
					break
				case "finished":
					document.getElementById("title").textContent = "Game over!"
					setVisible("game-players", true)
					getActivityInfoFinished(info["state"])
					break
				default:
					document.getElementById("title").textContent = "Unknown activity: " + activity
					break
			}
		}


		function getActivityInfoWolves(state) {
			createVoteButtons(state["options"] || [], "wolves", state["vote_count"], state["vote"])
		}


		function getActivityInfoVote(state) {
			createVoteButtons(state["options"] || [], "vote", state["vote_count"], state["vote"])
		}


		function getActivityInfoFinished(state) {
			document.getElementById("game-players").textContent = "Winners: " + state["winners"]
		}


		function createVoteButtons(players, activity, votes, our_vote) {
			let playerDOM = document.getElementById("game-players")
			playerDOM.innerHTML = ''
			for (let i = 0; i < players.length; i++) {
				let button = document.createElement("input")
				button.type = "button"
				let name = players[i]
				button.value = name + " (" + (votes[name] || 0) + ")"
				if (name === our_vote)
					button.value = "> " + button.value + " <"
				button.onclick = function () {
					performAction(activity, { "player": name })
				}
				playerDOM.appendChild(button)
			}
		}


		function performAction(activity, action) {
			requestPost("{{ url_for('api.perform_action', code='__code', activity='__activity') }}"
					.replace("__code", getGameCode()).replace("__activity", activity),
					action, function(e) {
			})
		}

		let stream
		function openStream() {
			if (stream !== undefined) {
				console.log("Closing stream")
				stream.close()
			}
			console.log("Starting stream")
			stream = new EventSource("{{ url_for('api.stream_game_info', code='__code') }}"
					.replace("__code", getGameCode()))
			stream.onmessage = function(event) {
				parseGameInfo(JSON.parse(event.data))
			}
		}

		(function() {
			if (getGameCode() === "") {
				setVisible("index", true)
				setVisible("game", false)
			} else {
				setVisible("index", false)
				setVisible("game", true)
				setVisible("game-players", false)
				setVisible("game-start", false)
				setVisible("game-name", false)
				setVisible("game-join", false)
				openStream()
			}
		})()
	</script>
{% endblock %}
